#--------------------------------------------------
# Répertoire : /views/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine off

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

